<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Journey HTML CSS Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  
      </head>

      <body>

        <div class="bgded overlay" style="background-image:url('assets/propos.jpg');"> 
  
            <div id="pageintro" class="hoc clear"> 
              <article>
                <h3 class="heading">FAVORISER LA DÉCOUVERTE ET L'ACHAT D'ART PERSONNALISÉ
                    ÊTRE UN TREMPLIN POUR LES ARTISTES DE TALENT</h3>
              </article>
            </div>
          </div>
          
        <div class="tm-page-wrap mx-auto"><br><br>
            <div class="tm-container-outer" id="tm-section-2">
                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="assets/im1.jpg" alt="Image"> 
                    </div>
                    <div class="tm-slideshow-description tm-bg-primary">
                        <h2 class="">Rendre l’achat d’art moins intimidant</h2>
                        <p>A l’origine de ArtSpace, il y a un constat : acheter de l’art personnalisée est une démarche intimidante et complexe ! 
                            Tout le monde n’a pas nécessairement une formation en histoire de l’art, n’a pas arpenté dès son plus jeune âge les musées,
                            les galeries ou les maisons de vente aux enchères.
                            Et pourtant, on a tous à un moment besoin d’art pour se projeter dans des ailleurs, des possibles, faire rentrer de la 
                            poésie et de la légèreté dans son quotidien !
                            C’est en partant de ce constat qu'on a lancé ArtSpace, avec une idée fondatrice : faciliter et simplifier la découverte et l’achat des services artisqtiques personnalisés
                             grâce au numérique.</p>
                    </div>
                </section>
                <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

                    <div class="tm-right tm-slideshow tm-slideshow-highlight">
                        <img src="assets/im2.jpg" alt="Image">
                    </div> 

                    <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">
                        <h2 class="">Vous aider à acquérir les oeuvres de vos rêves</h2>
                        <p>Notre rôle : vous guider pour vous permettre de découvrir la ou les œuvres qui vous correspondront. 
                            ArtSpace propose une recherche par catégorie,artiste,prix...
                            assure l’intermédiaire entre l’artiste et vous, et joue le rôle de tiers de confiance : 
                            caution sur la qualité de son travail artistique.
                            Tous les avantages d’une galerie d’art, mais avec un choix plus large, des prix plus accessibles, le tout sans quitter votre canapé !</p>
                    </div>                        

                </section>
                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="assets/im3.jpg" alt="Image">
                    </div>
                    <div class="tm-slideshow-description tm-bg-primary">
                        <h2 class="">America's most famous places</h2>
                        <p>L’équipe de'ArtSpace est en perpétuelle prospection de nouveaux artistes. 
                            Nos têtes chercheuses sont sur le qui-vive dans les salons, les foires, les expositions,
                             mais aussi sur le <strong>Web</strong>, pour dénicher des talents pour les accompagner 
                             et les faire connaître. <strong>Peintures, photographies, dessins, sculptures, poémes, musique</strong>
                            On trouve toutes les techniques sur ArtSpace, avec une représentation très éclectique de styles : 
                            figuratif, abstrait, impressionniste, conceptuel, street art, art géométrique0...</p>
                    </div>
                </section>
            </div>        
        </div><br>
        <app-footer></app-footer>

    </body>
</html>