<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="img" style="background-image: url(assets/connexion.png);">
          </div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Connexion</h3>
                <span class="w-100qu">Vous n'avez pas de compte ? </span><br>
                <a href="" class="w-100-connex">S'inscrire</a>
              </div>
            </div>

            <form class="signin-form"  [formGroup]="formAuthentication" (ngSubmit)="onSubmit();">
              <div class="form-group mb-3">
                <label class="label" for="photo">E-mail</label>
                <input type="text" class="form-control" placeholder="exemple@example.com/nom.." formControlName="login" required>
                <div *ngIf="login.invalid && login.touched" class="alert alert-danger">
                  L'e-mail est obligatoire !
                </div>
              </div>

              <div class="form-group mb-3">
                <label class="label" for="photo">Mot de passe</label>
                <input type="password" class="form-control" [type]="hide ? 'password' : 'text'"formControlName="pwd" required>
                <div *ngIf="pwd.invalid && pwd.touched" class="alert alert-danger">
                  Le mot de passe est obligatoire !
                </div>
              </div>


              


              <div class="boutons">
                <button type="submit" class="btn btn-success btn1" [disabled]="formAuthentication.invalid" style="position:relative;right:-4px;top:-6px">Se connecter</button>
                <div class="alert alert-danger" *ngIf="msg!=''">
                  {{msg}}
                </div>
                <button class="btn btn-danger" style="position:relative;right:-140px;top:-50px" (click)="onNoClick()" >Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>




